*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #1A1A1A;
}
/*Header*/
header{
    display: flex;
    padding: 0.5vw 0vw 0.5vw 1vw;
}
header ol{
    box-shadow: 0px 10px 10px black;
    border-radius: 3px;
    display: flex;
    margin: auto;
    background-color: #333333;
    padding: 0.8vw;
    max-width: 100%;
    list-style: none;
}
header ol li{
    text-align: center;
    font-size: 45px;
   display: grid;
   grid-template-columns: 3fr;

    margin-right: 5vw;
    margin-left: 5vw;
}
header img{
    width: 10vw;
}
header a{
    text-decoration: none;
    color: #fff;
}
header hr{
    color: #E12D2D;
}
/* Fim  HEADER */
.container h1{
  font-size: 300%;
  color: antiquewhite;
  padding:0.5vw ;
  max-width:100%;
  text-align: center;
}
/* Primeiro Slide */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 650px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Fotos */
.container h1{
    font-size: 300%;
    color: antiquewhite;
    padding:0.5vw ;
    max-width:100%;
    text-align: center;
  }
.container .navio{
    background-color: antiquewhite;
    max-width: 39vw;
   display: flex;
   flex-wrap: wrap;
  margin: auto;
}
.container .navio .elementos{
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 50vw;
    padding: 2px 0px 0px 0px ;
}
.container a{
    text-decoration: none;
}
.container h2{
    font-size: 300%;
    color: antiquewhite;
    padding:0.5vw ;
    max-width:27.5vw;
    margin: auto;
  }
h2:hover{
    color: #000;
    background-color: #fff;
}

/* ARTICLE */
article{
  margin: auto;
  max-width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
}
article .iam{
  width:25vw;
  border-radius: 3vw;
  
}
article .p1, .p2, .p3, .p4{
  padding: 1px;
  max-width: 41vw;
  font-size: 2vw;
  text-align: center;
}