*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #1A1A1A;
}
/*Header*/
header{
  /* background-color:green ; */
  max-width: 85vw;
  display: flex;
  padding: 0.5vw 0vw 0.5vw 1vw;
}
  header ol{
    box-shadow: 0px 10px 10px black;
    border-radius: 2vw;
    display: flex;
    margin: auto;
    background-color: #333333;
    padding: 0.8vw;
    max-width: 80vw;
    list-style: none;
  }
  header ol li{
    font-size: 2.7vw;
    /* grid-template-columns: 3fr; */
    max-width: 21vw;
    margin-right: 1vw;
    margin-left: 2vw;
    /* background-color: #FF0000; */
  }
  header img{
    width: 10vw;
  }
  header a{
    text-decoration: none;
    color: #fff;
  
  }
  header hr{
    color: #E12D2D;
  }
/* FIM HEADER */
/* Section */
section{
    max-width: 70vw;
    padding: 0vw 3vw;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 4fr 5fr;
}
/* Fim da section */
/* CARD */
.card{
    border-radius: 0.2vw;
    padding: 0.6vw;
    max-width: 17vw;
    /* max-height: 70vh; */
    background-color: #e6e6e6;
    margin: 1vw 1vw 0vw 0vw;
}
.card .inf{
   background-color:  #d9d9d9; 
   max-width: 30vw;

}
.card img{
    max-width: 17vw;
}
.card p{
    text-align: center;
    margin-bottom: 1vh;
    max-width: 17vw;
}
.card .p1{
    font-size: 2.3vw;
   
}
.card .p2{
    font-size: 1.7vw;
}
.card .p3{
    font-size: 1.2vw;
}
/* fim card */