*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #1A1A1A;
}
/*Header*/
header{
    display: flex;
    padding: 0.5vw 0vw 0.5vw 1vw;
}
header ol{
    box-shadow: 0px 10px 10px black;
    border-radius: 3px;
    display: flex;
    margin: auto;
    background-color: #333333;
    padding: 0.8vw;
    max-width: 100%;
    list-style: none;
}
header ol li{
    text-align: center;
    font-size: 45px;
   display: grid;
   grid-template-columns: 3fr;

    margin-right: 5vw;
    margin-left: 5vw;
}
header img{
    width: 10vw;
}
header a{
    text-decoration: none;
    color: #fff;
}
header hr{
    color: #E12D2D;
}
/* FIM HEADER */
/* Section */
section{
    padding: 0vw 3vw;
    display: flex;
    justify-content: space-between;
}
/* Fim da section */
/* CARD */
.card{
    border-radius: 0.2vw;
    padding: 0.6vw;
    max-width: 17vw;
    height: 70vh;
    background-color: #e6e6e6
}
.card .inf{
   background-color:  #d9d9d9; 
}
.card img{
    width: 17vw;
}
.card p{
    text-align: center;
    margin-bottom: 1vh;
}
.card .p1{
    font-size: 25px;
}
.card .p2{
    font-size: 20px;
}
.card .p3{
    font-size: 15px;
}
/* fim card */